* {
    background-color: #ffea00;
    text-align: center;
    font-family: 'Agency FB', sans-serif;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;

}

img {
    width:200px;
    height: 200px;
}

.user-selection img:hover {
    box-shadow: 0 0 2px 1px black;
}

.score-board {
    display: flex;
    justify-content: space-center;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    padding-bottom: 6%;
    padding-top: 25px;
}

.score-board div{
    border-style: solid ;
    padding: 5px;
    box-shadow: 10px 10px black;
    width:200px;
    height: auto;
}

.flash-border {
    box-shadow: 0 0 5px 2px black;
    transition: box-shadow 0.3s ease;
}


#game-over.hidden {
    display: none;
}


#game-over {
    position: fixed;             
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;          
    z-index: 1000;                
    color: black;
    text-align: center;
}


#game-over h2 {
    font-size: 3em;
    margin-bottom: 1rem;
}


#play-again {
    padding: 0.5rem 1.5rem;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffea00; 
    color: black;
    box-shadow: 5px 5px black;
    transition: transform 0.2s ease;
}

#play-again:hover {
    transform: scale(1.1);
}
